* {
    box-sizing: border-box;
}
.container{
    border: 4px solid darkgray;
    padding: 80px 24px 80px 24px;
    
}
.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto -24px auto;
    display: flex;
    justify-content: space-between;
}
.leftboxes{
    width: 45%;
}
.box_wrapper1{
    display: flex;
    flex-direction: column;
}
.box_wrapper2{
    display: flex;
    justify-content: space-between;
}
.box{
    border: 4px solid lightgray;
    margin-bottom: 24px;
}
.longbox{
    height: 50px;
}
.smallbox{
    height: 50px;
    width: 30%;
}
.bigbox{
    border: 4px solid lightgray;
    width: 45%;
    
}


